
<h3>Carga de articulos</h3>
<form>
            <mat-form-field>
                <input matInput placeholder="Nombre de producto" [(ngModel)]="campo_nombre" name="campo_nombre_producto" required>
            </mat-form-field>&nbsp;
            <mat-form-field>
                <input matInput placeholder="Categoria" [(ngModel)]="campo_categoria" name="campo_categoria" required>
            </mat-form-field>&nbsp;
            <mat-form-field>
                <input matInput placeholder="Precio" type="number" [(ngModel)]="campo_precio" name="campo_precio" required>
                <span matPrefix>$&nbsp;</span>
            </mat-form-field><br>
            <mat-form-field>
                <input matInput placeholder="Ancho" type="number" [(ngModel)]="campo_ancho" name="campo_ancho" required>
                <span matSuffix>cm</span>
            </mat-form-field>&nbsp;
            <mat-form-field>
                <input matInput placeholder="Alto" type="number" [(ngModel)]="campo_alto" name="campo_alto" required>
                <span matSuffix>cm</span>
            </mat-form-field>&nbsp;   
            <mat-form-field>
                <input matInput placeholder="Largo" type="number" [(ngModel)]="campo_largo" name="campo_alto" required>
                <span matSuffix>cm</span>
            </mat-form-field><br>
            
            <button mat-raised-button color="warn" (click)="agregarProducto()"> Cargar </button>
            
</form>





