
<!--
<nav>
	<a [routerLink] = "['']" [routerLinkActive] = "['active']">Home</a>
	&nbsp;
	<a [routerLink] = "['/carga']" [routerLinkActive] = "['active']">Carga</a>
  &nbsp;
  
	<a [routerLink] = "['/articulos']" [routerLinkActive] = "['active']">Articulos</a>
	&nbsp;
	<a [routerLink] = "['/venta']" [routerLinkActive] = "['active']">venta</a>
	&nbsp;
	<a [routerLink] = "['/informes']" [routerLinkActive] = "['active']">Informes</a>
  &nbsp;
  
</nav>
<hr>
-->

<button mat-button  [routerLink] = "['']" [routerLinkActive] = "['active']">Home</button>
<button mat-button [matMenuTriggerFor]="belowMenu" >Cargar</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
	<button mat-button [routerLink] = "['/carga']" [routerLinkActive] = "['active']">Nuevo Articulo</button><br>
	<button mat-button [routerLink] = "['/nuevacategoria']" [routerLinkActive] = "['active']">Nueva Categoria</button>
  </mat-menu>

<div class="mat-app-background basic-container">
	<router-outlet></router-outlet>	 
</div>
 


