<h1>{{ articulo.nombre }}</h1>
<ul>
    <li>Codigo: {{ articulo.codigo }}</li>
    <li>Categoria: {{ articulo.categoria }}</li>
    <li>Precio: {{ articulo.precio }}</li>
    <li>Stock: {{ articulo.stock }}</li>
    <li>Ancho: {{ articulo.ancho }}</li>
    <li>Alto: {{ articulo.alto }}</li>
    <li>Largo: {{ articulo.largo }}</li>
</ul>

<h3>Guardado Correctamente</h3>
<mat-dialog-actions align='center'>
        <button mat-raised-button color="warn" mat-dialog-close cdkFocusInitial>OK</button>
</mat-dialog-actions>